/* font-family: 'Gilda Display', serif;
font-family: 'Maven Pro', sans-serif;
farbe: #333, #fff, #3dc8d5, #8507e1, #ccc */

body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  /* header */
  header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:#333;
    
  }
  
  header div:first-of-type{
    width: 5%;
    height: 40px;
    padding: 10px 25px;
  }
  header p {
    margin: 0;
  
  }
  header div p a {
    color: #ccc;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 4px;
  }

  header div:nth-child(2){
    width: 400px;
    height: 260px;
    background-image: linear-gradient(to top right, violet , rgb(3, 90, 221), aqua);
    color: white;
    margin: 70px auto 0;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
  }
  header div:nth-child(2):hover {
    background-image: linear-gradient(to top right, aqua , rgb(3, 90, 221), violet );
  }
  
  header div:nth-child(2) h1 {
    font-size: 85px;
    font-family: 'Gilda Display', serif;
    text-align: center;
    margin: 0;
  }
  header div:nth-child(2) p {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 0 4px;
  }
  
  /* header - navbar */
  header nav {
    width: 15%;
    height: 100px;
    float:right;
    margin: 0;
    padding: 0px 50px 20px 0;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    padding-bottom: 20px;
    text-align: right;
  }
  header nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
  }
  header nav ul li a:hover {
    color: white;
  }
  /* Main */
  main {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  /* article */
  
  article {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  article div {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    height: 500px;
  }
  
  article div h1 {
      width:59vw;
      height: 12vh;
      background: url('https://assets.website-files.com/5c8834f1555981170b2fd8b1/5c898cd67456ffcba141a5ff_PROJECTS.svg');
    position: absolute;
    margin: 0;
    padding: 30px 0 0;
    font-size: 170px;
    text-align: center;
    color: #cccccc50;
  }
  
  article div h2 {
    font-size: 75px;
    margin: 0;
    padding-top: 100px;
  }
  
  article div p {
    text-align: left;
    width: 50%;
    line-height:22px;
    font-family: 'Maven Pro', sans-serif;
  }
  
  article p:first-of-type {
    padding-top: 50px;
  }
  /* Sections */
  main section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 100px;
  }
  
  /* Fotos*/
  main section:first-of-type div {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background: url('https://assets.website-files.com/5c898b1d37266625ec969a97/5d1a683945dd8900108648db_capa_pmu-grad.jpg') left top/cover no-repeat;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 150px;
  
  }
  
  main section:nth-of-type(2) div {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background: url('https://assets.website-files.com/5c898b1d37266625ec969a97/5cc86e71ea28d87b5e98a204_scott-goodwill-408543%203-gradi.jpg') left top/cover no-repeat;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 150px;
  
  }
  
  main section:last-of-type div {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background: url('https://assets.website-files.com/5c898b1d37266625ec969a97/5d1a62fd45dd8967e9861c83_christopher-campbell-40367-unsplash.jpg') left top/cover no-repeat;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 150px;
  
  }
  
  main section h3 {
    font-size: 50px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0 10px;
  }
  main section p {
    font-size: 12px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 10px 0;
    font-family: 'Maven Pro', sans-serif;
  }
  



